<h1> Genres of Games </h1>
<h2> Below is a list of Game Genres, thanks to: <%= link_to "https://plarium.com/en/blog/video-game-genres/", "https://plarium.com/en/blog/video-game-genres/", target: "_blank" %></h2>
<div class=list-container>
  <div id=list>
    <ul>
      <li>CASUAL - Quick and easy-to-play games, often referred to as pick-up-and-play. Popularized in the mobile gaming sector.</li>
      <li>MMORPG (Massive Multiplayer Online Role-Playing Game) - Games that allow players worldwide to exist in the same gaming universe. Players create characters, complete quests, and build narratives.</li>
      <li>TOWER DEFENSE - Games where players defend a stronghold against waves of enemies, requiring resource management and tactical planning.</li>
      <li>SHOOTERS - Games involving guns, including first-person shooters or third-person shooters, putting players in intense combat scenarios.</li>
      <li>WAR - Games set within war situations, often based on historical wars or imaginary war scenarios.</li>
      <li>ADVENTURE - Narrative-driven games with immersive worlds, offering various activities from solving puzzles to making choices.</li>
      <li>SURVIVAL - Games where players gather resources and survive against hostile enemies, providing a sense of accomplishment.</li>
      <li>MATCH 3 - Puzzle games requiring players to align identical tiles or objects, often involving cascading mechanics and strategic planning.</li>
      <li>ACTION - Fast-paced games combining combat and exploration.</li>
      <li>RPG (Role-Playing Game) - Games where players embody characters within fantasy worlds, making decisions that affect the story's outcome.</li>
    </ul>
  </div>
</div>
