<h1> Genres of Games </h1>
<h2> Below is a list of Game Genres, thanks to: <%= link_to "https://plarium.com/en/blog/video-game-genres/", "https://plarium.com/en/blog/video-game-genres/", target: "_blank" %></h2>
<div id=list>
  <ul>
    <li>Casual - Quick and easy-to-play games, often referred to as pick-up-and-play. Popularized in the mobile gaming sector.</li>
    <li>MMORPG (Massive Multiplayer Online Role-Playing Game) - Games that allow players worldwide to exist in the same gaming universe. Players create characters, complete quests, and build narratives.</li>
    <li>Tower Defense - Games where players defend a stronghold against waves of enemies, requiring resource management and tactical planning.</li>
    <li>Shooters - Games involving guns, including first-person shooters or third-person shooters, putting players in intense combat scenarios.</li>
    <li>War - Games set within war situations, often based on historical wars or imaginary war scenarios.</li>
    <li>Adventure - Narrative-driven games with immersive worlds, offering various activities from solving puzzles to making choices.</li>
    <li>Survival - Games where players gather resources and survive against hostile enemies, providing a sense of accomplishment.</li>
    <li>Match 3 - Puzzle games requiring players to align identical tiles or objects, often involving cascading mechanics and strategic planning.</li>
    <li>Action - Fast-paced games combining combat and exploration.</li>
    <li>MMO (Massively Multiplayer Online) - Similar to MMORPGs but generally existing solely on mobile, focusing on cooperative or competitive gameplay.</li>
    <li>Multiplayer - Games enabling friends or strangers to compete in shared virtual spaces, encouraging social interactions.</li>
    <li>PvP (Player vs Player) - Titles pitting players against each other in competitive scenarios, fostering skill development and strategy formulation.</li>
    <li>RPG (Role-Playing Game) - Games where players embody characters within fantasy worlds, making decisions that affect the story's outcome.</li>
    <li>Strategy - Games requiring players to plan and outmaneuver opponents, inspired by classic board games like Risk.</li>
    <li>Castle - Tower defense games involving building and defending a sturdy stronghold against enemies, featuring tactical elements.</li>
    <li>Medieval - Games transporting players to medieval times, often including knights, chivalry, and rich narratives.</li>
    <li>Solitaire - Recognizable computer card game, available in countless versions online with unique rules.</li>
    <li>Puzzle - Games involving puzzles, gaining popularity in the mobile gaming market.</li>
    <li>Robot - Games featuring robot themes, providing a glimpse into a future with prevalent artificial intelligence.</li>
    <li>Horror - Fully immersive horror games offering thrilling and scary experiences, often with realistic graphics.</li>
    <li>Roguelikes - Games with procedurally generated levels, permanent death consequences, and a need to start over upon dying.</li>
    <li>Battle Royale - Genre where players compete in an ever-shrinking play area to be the last one standing.</li>
    <li>Survival Horror - Survival horror games blending survival mechanics with frightening elements, offering tense and atmospheric experiences.</li>
    <li>Tactical RPG - Games combining strategy and role-playing elements, featuring turn-based battles with an emphasis on tactics.</li>
    <li>Open World Action RPG - Popular genre with a sandbox environment, detailed character progression, and storytelling.</li>
    <li>Sandbox Simulation - Games allowing players to do anything within the game's universe, shaping their environment and creating experiences.</li>
    <li>Stealth Action - Games with a focus on avoiding detection from enemies, requiring planning and patience.</li>
    <li>Hack 'n' Slash RPG - Genre involving fast-paced action gameplay, button bashing in battle, and RPG mechanics for added depth.</li>
    <li>Puzzle Platformer - Games combining platform levels with puzzles to solve, offering unique titles in the genre.</li>
  </ul>
</div>
