<footer class="footer navbar-fixed-bottom">
  <div class="container">
    <nav class="round">
      <div class="left">
        <ul>
          <li><%= link_to "About", about_path %></li>
        </ul>
      </div>
      <div class="right">
        <ul>
          <li><%= link_to "All about Nintendo", nintendo_path %></li>
        </ul>
      </div>
    </nav>
  </div>
</footer>
