<header>
    <div class="left-nav">
      <ul>
        <li><%= link_to "Homepage", homepage_path %></li>
      </ul>
    </div>
    <div class="right-nav">
      <ul>
        <li><%= link_to "Add Game", new_game_path %>
      </ul>
    </div>
</header>
