<h1>About Games on Rails</h1>


<div data-controller="tabs" data-tabs-default-tab-value="two">
  <button id="one" data-controller="tabs" data-action="click->tabs#select" data-tabs-target-tab="one">Sony</button>
  <button id="two" data-controller="tabs" data-action="click->tabs#select" data-tabs-target-tab="two">Nintendo</button>
  <button id="abc" data-controller="tabs" data-action="click->tabs#select" data-tabs-target-tab="three">Xbox</button>
  <div data-tabs-target="tab" id="one">PS4 preceded the PS5</div>
  <div data-tabs-target="tab" id="two">3DS and Wii U preceded the Switch</div>
  <div data-tabs-target="tab" id="three">Xbox One S and X preceded the Series S and X</div>
</div>
