<div class="container">
  <div class="row">
    <div class="col">
      <p style="color: blue;"><%= notice %></p>

      <h1>Games</h1>

      <div id="games">
        <% @games.each do |game| %>
          <p>
            <button class="learn-more">
            <%= render game %>
            </button>
          </p>
        <% end %>
      </div>
    </div>
  </div>

  <%== pagy_nav(@pagy) %>
</div>
