

  <%= search_input('text', 'Type to Search...') %>

  <ul class="card-container">
    <li class="card">1</li>
    <li class="card">2</li>
    <li class="card">3</li>
    <li class="card">4</li>
    <li class="card">5</li>
    <li class="card">6</li>
  </ul>


<div class="loadingio-spinner-spinner-2pcnwbnmf5e"><div class="ldio-4vh0oxhxr1f">
<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
</div></div>

 <%= link_to "Homepage", homepage_path %>
