<p>The best of Mario from Nintendo!</p>

<div class="flex-container">
  <ul class="card-container">
    <% @games.each do |game| %>
      <%= render "game", game: game %>
    <% end %>
  </ul>
</div>
