body {
  background-color: black;
  background-size: 100%;
  color: white;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.featured-games {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.game {
  text-align: center;
}
