header {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-trim: inline-end;
  display: flex;
}

li {
  display: inline-block;
  margin-inline-end: 1rem;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .left-nav {
    margin-top: 10px;
  }

  .middle-nav {
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
  }

  .right-nav {
    margin-top: 10px;
  }

  ul {
    flex-direction: column;
  }

  li {
    margin-bottom: 10px;
    margin-right: 0;
  }
}
