.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 20px 0;
  background-color: #000000;
}

.pagination li {
  margin: 0 5px;
   color: #ffffff
}

.pagination li a {
  color: #ffffff
}
