body {
  background-color: black;
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
}

a:hover {
  color: purple;
}

a:visited {
  color: clear;
}
